.plan__hat {
    position: absolute;
    top: 328px;
    left: 0;
    width: 700px;
    height: 399px;
    background-image: url("../../../img/hat.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}